@page "/Games"

@using Codenames.Shared;
@inject HttpClient Http

<h1>Games</h1>

@if (games == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="content">
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Started</th>
                    <th>Completed</th>
                    <th>Number of Players</th>
                    <th>Winning Team</th>
                    <th>Final Message</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var game in games.OrderByDescending(g => g.StartedAtUtc))
                {
                    <tr>
                        <td>@game.StartedAtUtc.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss")</td>
                        <td>@(game.CompletedAtUtc?.ToLocalTime().ToString("dd/MM/yyyy HH:mm:ss") ?? "In Progress")</td>
                        <td>@(game.Players?.Count ?? 0)</td>
                        <td>@(game.WinnningTeam.ToString() ?? "Undecided")</td>
                        <td>@game.CompletedMessage</td>
                        <td>
                            <a href="PlayGame/@game.GameId">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Go to game
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private IEnumerable<Game> games;

    protected override async Task OnInitializedAsync()
    {
        games = JsonConvert.DeserializeObject<IEnumerable<Game>>(await Http.GetStringAsync("api/Game/List"));
    }
}
