@page "/PlayGame/{GameId}"

@using Microsoft.AspNetCore.SignalR.Client

@inject HttpClient Http
@inject LocalStorage Storage
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject BlazorTimer Timer

@if (Game == null)
{
    <p><em>Loading...</em></p>
}
else if (IdentifiedPlayer == null)
{
    <CascadingValue Value="this">
        <PlayerIdentification HubConnection="_hubConnection" OnPlayerIdentified="StateHasChanged" />
    </CascadingValue>
}
else
{
    <div class="row justify-content-center">
        <span class="btn btn-outline-secondary game-info-toggler" @onclick="ToggleTopRowAsync">
            <span class="oi @(_topRowCollapsed ? "oi-chevron-bottom" : "oi-chevron-top")"></span>
        </span>
    </div>
    <div id="topRow" class="row pl-2">
        <div class="col-sm-auto col-lg-auto mr-auto @(IdentifiedPlayer.Team == Team.Red ? "bg-danger" : "bg-primary") rounded p-1 adjustable-font-size">
            <p class="text-white mb-0 d-inline-block">Hi @IdentifiedPlayer.Name, you are playing as @(IdentifiedPlayer.IsSpymaster ? "the spymaster" : "a guesser") on the @IdentifiedPlayer.Team team.</p>
            <button class="@TeamButtonClass d-inline-block adjustable-font-size" style="line-height: 1em;" @onclick="UnidentifyPlayerInGameAsync">Click here to re-identify</button>
        </div>
        <div class="col-sm-auto col-lg-auto p-1 adjustable-font-size align-text-top">
            <p class="mb-0">Game started at @Game.StartedAtUtc.ToLocalTime().ToString("dd/MM/yyyy HH:mm")</p>
        </div>
    </div>
    <div class="row">
        <div class="w-75 pl-2 pr-2 mr-auto">
            @if (Game.CompletedMessage != null)
            {
                <Modal Header="Game Over!" Show="_showCompletionMessage">
                    <h6>@Game.CompletedMessage</h6>
                </Modal>
            }
            <div class="row adjustable-font-size">
                <CascadingValue Value="Game.Players">
                    <TeamInfo Team="Team.Blue" WordsRemaining="BlueWordsRemaining" />
                    <div class="col card border border-secondary rounded padded-card adjustable-font-size p-1">
                        <div class="card-body text-center font-weight-bold">
                            @if (Game.CurrentTurn.Clue != null)
                            {
                                <span>@Game.CurrentTurn.Team.ToString() team's turn: @(Game.CurrentTurn.NumberOfGuesses == 1 ? "Bonus Guess" : $"{Game.CurrentTurn.Clue} - {Game.CurrentTurn.NumberOfGuesses - 1}{(Game.CurrentTurn.NumberOfGuesses == Game.CurrentTurn.InitialNumberOfGuesses ? "" : " left")}")</span>
                            }
                            else
                            {
                                <span>@Game.CurrentTurn.Team.ToString() team's turn</span>
                            }
                            @if (!Game.CompletedAtUtc.HasValue && IdentifiedAsCurrentTeamGuesserWithClue)
                            {
                                <div class="d-inline-block ml-2">
                                    <button class="@TeamButtonClass adjustable-font-size" style="line-height: 1em;" @onclick="PassTurnAsync">Pass</button>
                                </div>
                            }
                        </div>
                    </div>
                    <TeamInfo Team="Team.Red" WordsRemaining="RedWordsRemaining" />
                </CascadingValue>
            </div>
            @for (var i = 0; i < 5; i++)
            {
                <div class="row">
                    @for (var j = 0; j < 5; j++)
                    {
                        var wordIndex = 5 * i + j;
                        if (!Game.WinnningTeam.HasValue && Game.GuessedWords.Contains(wordIndex))
                        {
                            <div class="col card @GetBackgroundColourClass(wordIndex) empty-padded-card adjustable-font-size"></div>
                        }
                        else
                        {
                            <div class="col card padded-card @GetBackgroundColourClassForVisibleWord(wordIndex) adjustable-font-size @(IdentifiedAsCurrentTeamGuesserWithClue ? "pointer" : "")" @onclick="e => HandleWordGuessedAsync(wordIndex)">
                                <div class="card-body text-center font-weight-bold bg-light" style="padding: 0.25em 0;">@Game.Words[wordIndex]</div>
                            </div>
                        }
                    }
                </div>
            }
            @if (Game.CurrentTurn.Clue == null && IdentifiedPlayer.IsSpymaster && IdentifiedPlayer.Team == Game.CurrentTurn.Team)
            {
                <div class="row p-3 adjustable-font-size">
                    <div class="form-inline">
                        <div class="form-group mr-2">
                            <label for="Clue" class="font-weight-bold mr-2">Clue:</label>
                            <input id="Clue" type="text" @bind="_currentClue" class="form-control adjustable-font-size" autocomplete="off" />
                        </div>
                        <div class="form-group mr-3">
                            <label for="NumberOfGuesses" class="font-weight-bold mr-2">Number of words linked:</label>
                            <input id="NumberOfGuesses" type="number" min="0" max="@WordsRemainingForCurrentTeam" @bind="_currentNumberOfWordsLinked" @oninput="e => _currentNumberOfWordsLinked = Convert.ToInt32(e.Value)" class="form-control adjustable-font-size" />
                        </div>
                        <button type="button" class="@TeamButtonClass adjustable-font-size" @onclick="GiveClueAsync">Give clue</button>
                        @if (_clueErrorMessage != null)
                        {
                            <label class="text-danger ml-2">@_clueErrorMessage</label>
                        }
                    </div>
                </div>
            }
        </div>
        <div class="mt-3" style="width: 22%;">
            <TabControl OnTabSelected="HandleTabSelectedAsync">
                <TabPage ButtonId="GameLogTab" Title="Game Log" OnTabSelected="() => _unreadGameLogMessageCount = 0">
                    <div class="card border rounded">
                        <div id="GameLog" class="card-body overflow-auto p-0" style="height: 75vh;">
                            <ul class="list-group">
                                @foreach (var gameLogMessage in _gameLogMessages.OrderBy(c => c.SentAt))
                                {
                                    <li class="list-group-item adjustable-font-size-small pt-2 pb-2">
                                        <strong>@gameLogMessage.SentAt.ToLocalTime().ToString("HH:mm"):</strong> @gameLogMessage.PlayerName @gameLogMessage.Message
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </TabPage>
                <CascadingValue Value="_hubConnection">
                    <CascadingValue Value="IdentifiedPlayer">
                        <TabPage ButtonId="GlobalChatTab" Title="Global Chat" OnTabSelected="() => _unreadGlobalMessageCount = 0">
                            <Chat Id="GlobalChat" ChatId="@($"{GameId}-Global")" OverrideHubGroup="@GameId" ChatMessages="_globalChatMessages" />
                        </TabPage>
                        @if (ShowRoleChat)
                        {
                            <TabPage ButtonId="RoleChatTab" Title="@RoleChatName" OnTabSelected="() => _unreadRoleMessageCount = 0">
                                <Chat Id="RoleChat" ChatId="@RoleChatId" ChatMessages="_roleChatMessages" />
                            </TabPage>
                        }
                    </CascadingValue>
                </CascadingValue>
            </TabControl>

        </div>
    </div>
}

@code {
    public Player IdentifiedPlayer { get; set; }
    public Game Game { get; private set; }

    private HubConnection _hubConnection;
    private List<GameMessage> _gameLogMessages;
    private List<GameMessage> _globalChatMessages;
    private List<GameMessage> _roleChatMessages;
    private int _unreadGameLogMessageCount = 0;
    private int _unreadGlobalMessageCount = 0;
    private int _unreadRoleMessageCount = 0;
    private string _selectedTab = "GameLogTab";

    private bool _showCompletionMessage;
    private string _currentClue = null;
    private int _currentNumberOfWordsLinked = 0;
    private string _clueErrorMessage;
    private bool _topRowCollapsed = false;

    private int RedWordsRemaining => Game.RedWords.Except(Game.GuessedWords).Count();
    private int BlueWordsRemaining => Game.BlueWords.Except(Game.GuessedWords).Count();
    private int WordsRemainingForCurrentTeam => Game.CurrentTurn.Team == Team.Red ? RedWordsRemaining : BlueWordsRemaining;
    private bool ShowRoleChat => IdentifiedPlayer.IsSpymaster || !IdentifiedPlayer.IsSpymaster && Game.Players.Any(p => p.Team == IdentifiedPlayer.Team && !p.IsSpymaster && p.Name != IdentifiedPlayer.Name);
    private string RoleChatId => IdentifiedPlayer.IsSpymaster ? $"{GameId}-Spymaster" : $"{GameId}-{IdentifiedPlayer.Team}Guesser";
    private string RoleChatName => IdentifiedPlayer.IsSpymaster ? "Spymaster Chat" : $"{IdentifiedPlayer.Team} Guessers Chat";
    private bool IdentifiedAsCurrentTeamGuesserWithClue => Game.CurrentTurn.Clue != null && !IdentifiedPlayer.IsSpymaster && IdentifiedPlayer.Team == Game.CurrentTurn.Team;
    private string TeamButtonClass => $"btn btn-{(IdentifiedPlayer.Team == Team.Red ? "danger" : "primary")}";

    [Parameter]
    public string GameId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Game = JsonConvert.DeserializeObject<Game>(await Http.GetStringAsync($"api/Game/Get?id={GameId}"));
        _gameLogMessages = JsonConvert.DeserializeObject<List<GameMessage>>(await Http.GetStringAsync($"api/Message/GetGameMessagesForGroup?messageBoardId={GameId}-GameLog"));
        _globalChatMessages = JsonConvert.DeserializeObject<List<GameMessage>>(await Http.GetStringAsync($"api/Message/GetGameMessagesForGroup?messageBoardId={GameId}-Global"));

        await ConfigureHubAsync();
        IdentifiedPlayer = Game.Players.SingleOrDefault(x => x.Name == Storage.GetItem("playerName"));
        if (IdentifiedPlayer != null && !IdentifiedPlayer.Identified)
        {
            await IdentifyPlayerInGameAsync();
        }
    }

    public async Task IdentifyPlayerInGameAsync()
    {
        IdentifiedPlayer.Identified = true;
        await Task.WhenAll(
            Http.PostJsonAsync("api/Game/UpdatePlayerInGame", JsonConvert.SerializeObject(new PlayerInGame { GameId = GameId, Player = IdentifiedPlayer })),
            _hubConnection.InvokeAsync("UpdatePlayerIdentificationAsync", Game.GameId, IdentifiedPlayer.Name, true),
            _hubConnection.InvokeAsync("AddToGroupAsync", RoleChatId)
        );
        _roleChatMessages = JsonConvert.DeserializeObject<List<GameMessage>>(await Http.GetStringAsync($"api/Message/GetGameMessagesForGroup?messageBoardId={RoleChatId}"));
        await UpdateGameLogAsync("has joined the game.");
        StartTopRowToggleTimer();
    }

    public async Task UnidentifyPlayerInGameAsync()
    {
        IdentifiedPlayer.Identified = false;
        await Task.WhenAll(
            Http.PostJsonAsync("api/Game/UpdatePlayerInGame", JsonConvert.SerializeObject(new PlayerInGame { GameId = GameId, Player = IdentifiedPlayer })),
            _hubConnection.InvokeAsync("UpdatePlayerIdentificationAsync", Game.GameId, IdentifiedPlayer.Name, false),
            _hubConnection.InvokeAsync("RemoveFromGroupAsync", RoleChatId)
        );
        await UpdateGameLogAsync("has left the game.");
        Storage.RemoveItem("playerName");
        IdentifiedPlayer = null;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender && IdentifiedPlayer != null)
        {
            await JSRuntime.InvokeVoidAsync("codenames.scrollToBottomOfElement", "GameLog");
            await JSRuntime.InvokeVoidAsync("codenames.replaceAllContent", "GameLogTab", $"Game Log{(_unreadGameLogMessageCount > 0 ? $" ({_unreadGameLogMessageCount})" : "")}");
            await JSRuntime.InvokeVoidAsync("codenames.replaceAllContent", "GlobalChatTab", $"Global Chat{(_unreadGlobalMessageCount > 0 ? $" ({_unreadGlobalMessageCount})" : "")}");
            await JSRuntime.InvokeVoidAsync("codenames.replaceAllContent", "RoleChatTab", $"{RoleChatName}{(_unreadRoleMessageCount > 0 ? $" ({_unreadRoleMessageCount})" : "")}");
        }
    }

    private async Task HandleTabSelectedAsync(TabPage page)
    {
        _selectedTab = page.ButtonId;
        await JSRuntime.InvokeVoidAsync("codenames.replaceContent", page.ButtonId, @"\s\(\d+\)", "");
    }

    private async Task ConfigureHubAsync()
    {
        _hubConnection = new HubConnectionBuilder().WithUrl(NavigationManager.ToAbsoluteUri("/GameHub")).WithAutomaticReconnect().Build();
        _hubConnection.On<string>("UpdateGame", updatedGame =>
        {
            Game = JsonConvert.DeserializeObject<Game>(updatedGame);
            if (Game.WinnningTeam.HasValue)
            {
                _showCompletionMessage = true;
            }
            StateHasChanged();
        });
        _hubConnection.On<GameMessage>("NewGameLogMessage", gameLogMessage =>
        {
            _gameLogMessages.Add(gameLogMessage);
            if (_selectedTab != "GameLogTab")
            {
                _unreadGameLogMessageCount++;
            }
            StateHasChanged();
        });
        _hubConnection.On<GameMessage>("GlobalChat", globalChatMessage =>
        {
            _globalChatMessages.Add(globalChatMessage);
            if (_selectedTab != "GlobalChatTab")
            {
                _unreadGlobalMessageCount++;
            }
            StateHasChanged();
        });
        _hubConnection.On<GameMessage>("RoleChat", roleChatMessage =>
        {
            _roleChatMessages.Add(roleChatMessage);
            if (_selectedTab != "RoleChatTab")
            {
                _unreadRoleMessageCount++;
            }
            StateHasChanged();
        });
        _hubConnection.On<string, bool>("UpdatePlayerIdentification", (playerName, identified) =>
        {
            var updatedPlayer = Game.Players.SingleOrDefault(p => p.Name == playerName);
            if (updatedPlayer != null)
            {
                updatedPlayer.Identified = true;
            }
        });

        await _hubConnection.StartAsync();
        await _hubConnection.InvokeAsync("AddToGroupAsync", GameId);
    }

    private async Task HandleWordGuessedAsync(int wordIndex)
    {
        if (IdentifiedAsCurrentTeamGuesserWithClue)
        {
            Game.CurrentTurn.NumberOfGuesses = Game.CurrentTurn.NumberOfGuesses - 1;

            string messageSuffix;
            if (Game.CompletedMessage == null)
            {
                Game.GuessedWords.Add(wordIndex);

                if (Game.Assassin == wordIndex)
                {
                    Game.WinnningTeam = (Team)(1 - Game.CurrentTurn.Team);
                    Game.CompletedMessage = $"{IdentifiedPlayer.Name} bumped into the assassin and was killed!";
                }
                else if (Game.BlueWords.All(bw => Game.GuessedWords.Contains(bw)))
                {
                    Game.CompletedMessage = "Team blue wins!";
                    Game.WinnningTeam = Team.Blue;
                }
                else if (Game.RedWords.All(rw => Game.GuessedWords.Contains(rw)))
                {
                    Game.CompletedMessage = "Team red wins!";
                    Game.WinnningTeam = Team.Red;
                }

                if (Game.CompletedMessage != null)
                {
                    _showCompletionMessage = true;
                    Game.CompletedAtUtc = DateTime.UtcNow;
                    messageSuffix = $". {Game.CompletedMessage}";
                }
                else
                {
                    if (Game.CurrentTurn.Team == Team.Red && !Game.RedWords.Contains(wordIndex))
                    {
                        Game.CurrentTurn = new Turn { Team = Team.Blue };
                        messageSuffix = $"incorrectly {(Game.RedWords.Contains(wordIndex) ? "(neutral)" : "(red)")}. Blue team's turn started.";
                    }
                    else if (Game.CurrentTurn.Team == Team.Blue && !Game.BlueWords.Contains(wordIndex))
                    {
                        Game.CurrentTurn = new Turn { Team = Team.Red };
                        messageSuffix = $"incorrectly {(Game.RedWords.Contains(wordIndex) ? "(neutral)" : "(blue)")}. Blue team's turn started.";
                    }
                    else
                    {
                        messageSuffix = "correctly";

                        if (Game.CurrentTurn.NumberOfGuesses == 0)
                        {
                            Game.CurrentTurn = new Turn { Team = (Team)(1 - Game.CurrentTurn.Team) };
                            messageSuffix += $". All guesses used up. {Game.CurrentTurn.Team} team's turn started.";
                        }
                    }
                }

                await UpdateGameAsync($"guessed {Game.Words[wordIndex]} {messageSuffix}");
            }
        }
    }

    private async Task PassTurnAsync()
    {
        Game.CurrentTurn = new Turn { Team = (Team)(1 - Game.CurrentTurn.Team) };
        await UpdateGameAsync($"passed. {Game.CurrentTurn.Team} team's turn started.");
    }

    private string GetBackgroundColourClass(int wordIndex)
    {
        if (Game.Assassin == wordIndex)
        {
            return "bg-dark";
        }
        else if (Game.BlueWords.Contains(wordIndex))
        {
            return "bg-primary";
        }
        else if (Game.RedWords.Contains(wordIndex))
        {
            return "bg-danger";
        }
        else
        {
            return "bg-warning";
        }
    }

    private string GetBackgroundColourClassForVisibleWord(int wordIndex) => (IdentifiedPlayer.IsSpymaster || Game.WinnningTeam.HasValue) ? GetBackgroundColourClass(wordIndex) : "bg-warning";

    private void ClosePopup() => _showCompletionMessage = false;

    private async Task GiveClueAsync()
    {
        if (string.IsNullOrWhiteSpace(_currentClue))
        {
            _clueErrorMessage = "Clue cannot be blank!";
        }
        else if (Game.Words.Any(x => x.Value.ToLower() == _currentClue.ToLower() && !Game.GuessedWords.Contains(x.Key)))
        {
            _clueErrorMessage = "Clue cannot be an uncovered word!";
        }
        else if (_currentClue.Contains(' '))
        {
            _clueErrorMessage = "Clue must be a single word!";
        }
        else if (_currentNumberOfWordsLinked < 1 || _currentNumberOfWordsLinked > WordsRemainingForCurrentTeam)
        {
            _clueErrorMessage = $"Number of words linked must be between 1 and {WordsRemainingForCurrentTeam}!";
        }
        else
        {
            Game.CurrentTurn.Clue = _currentClue;
            Game.CurrentTurn.InitialNumberOfGuesses = _currentNumberOfWordsLinked + 1;
            Game.CurrentTurn.NumberOfGuesses = Game.CurrentTurn.InitialNumberOfGuesses;
            await UpdateGameAsync($"gave clue: {_currentClue} for {_currentNumberOfWordsLinked}.");
            _currentClue = null;
            _currentNumberOfWordsLinked = 0;
            _clueErrorMessage = null;
        }
    }

    private async Task UpdateGameLogAsync(string logMessage)
    {
        var gameLogId = $"{GameId}-GameLog";
        var gameLogMessage = new GameMessage(IdentifiedPlayer.Name, logMessage);
        _gameLogMessages.Add(gameLogMessage);
        await Task.WhenAll(
            Http.PutJsonAsync("api/Message/AddMessage", new { MessageBoardId = gameLogId, GameMessage = JsonConvert.SerializeObject(gameLogMessage) }),
            _hubConnection.InvokeAsync("SendGameMessageAsync", GameId, "NewGameLogMessage", gameLogMessage));
        await JSRuntime.InvokeVoidAsync("codenames.scrollToBottomOfElement", "GameLog");
    }

    private async Task UpdateGameAsync(string logMessage)
    {
        var serializedGame = JsonConvert.SerializeObject(Game);
        await Task.WhenAll(Http.PostJsonAsync("api/Game/Save", serializedGame), _hubConnection.InvokeAsync("UpdateGameAsync", GameId, serializedGame), UpdateGameLogAsync(logMessage));
    }

    private async Task ToggleTopRowAsync()
    {
        _topRowCollapsed = !_topRowCollapsed;
        await JSRuntime.InvokeVoidAsync("codenames.slideToggle", "topRow");
        StateHasChanged();
    }

    private void StartTopRowToggleTimer()
    {
        Timer.SetTimer(5000);
        Timer.OnElapsed += async () =>
        {
            if (!_topRowCollapsed)
            {
                await ToggleTopRowAsync();
            }
        };
    }
}