@using Microsoft.AspNetCore.SignalR.Client

@inject HttpClient Http
@inject IJSRuntime JSRuntime

@if (_gameMessages == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="border rounded p-1 card @AdditionalStyleClass" style="max-height: @MaxHeight;">
        <div class="card-header">
            <h5 class="card-title">@Title</h5>
        </div>
        <div id="@Id" class="card-body overflow-auto p-0">
            <ul class="list-group">
                @foreach (var gameMessage in _gameMessages.OrderBy(c => c.SentAt))
                {
                    <li class="list-group-item small" title="Sent at @gameMessage.SentAt.ToLocalTime().ToString("HH:mm:ss")">
                        <span class="font-weight-bold">@gameMessage.PlayerName:</span> @gameMessage.Message
                    </li>
                }
            </ul>
        </div>
        <div class="card-footer">
            <input id="@($"new{Id}")" type="text" class="form-control" style="width: 100%;" value="@newMessage" @oninput="e => newMessage = e.Value.ToString()" @onkeydown="@(e => HandleKeyDown(e))" />
        </div>
    </div>
}

@code {
    private List<GameMessage> _gameMessages;

    [Parameter]
    public string MessageBoardId { get; set; }

    [Parameter]
    public HubConnection HubConnection { get; set; }

    [Parameter]
    public string PlayerName { get; set; }

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string MaxHeight { get; set; }

    [Parameter]
    public string AdditionalStyleClass { get; set; }

    private string newMessage;

    protected override async Task OnInitializedAsync()
    {
        _gameMessages = JsonConvert.DeserializeObject<List<GameMessage>>(await Http.GetStringAsync($"api/Message/GetGameMessagesForGroup?messageBoardId={MessageBoardId}"));

        HubConnection.On<GameMessage>(Id, gameMessage =>
        {
            _gameMessages.Add(gameMessage);
            StateHasChanged();
        });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            await JSRuntime.InvokeVoidAsync("codenames.scrollToBottomOfElement", Id);
        }
    }

    private async Task HandleKeyDown(KeyboardEventArgs e)
    {
        if (e.Key == "Escape")
        {
            await JSRuntime.InvokeVoidAsync("codenames.blurElement", Id);
        }
        else if (e.Key == "Enter")
        {
            await SendGameMessageAsync();
        }
    }

    private async Task SendGameMessageAsync()
    {
        var gameMessage = new GameMessage(PlayerName, newMessage);
        _gameMessages.Add(gameMessage);
        await Task.WhenAll(Http.PutJsonAsync("api/Message/AddMessage", new { MessageBoardId = MessageBoardId, GameMessage = JsonConvert.SerializeObject(gameMessage) }), HubConnection.InvokeAsync("SendGameMessageAsync", MessageBoardId, Id, gameMessage));
        await JSRuntime.InvokeVoidAsync("codenames.scrollToBottomOfElement", Id);
        newMessage = null;
    }
}
